<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;chrome=1")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0")
    title Ассоциация репетиторов
    script(src="js/modernizr.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/h5Validate/jquery.h5validate.js")
    script(src="js/jquery.maskedinput/jquery.maskedinput.min.js")
    script(src="js/RegistrationStep0.js", async)
    link(rel="stylesheet", href="css/styles.css")

  body
    
    header
      .wrapper
        a(href="/")
          h1.logotype Ассоциация репетиторов
        a.tel(href="tel:+78126458885") +7 812 
          b 6458885
        p.work-time 09:00-23:00, сб-вс 11:00-21:00
    
    main.page

      section.start-now
        .wrapper
          h2.title Начните работать репетитором вместе с нами
          p Наши репетиторы уже работают с 186 000 учеников по всей России. Зарегистируйтесь и начните получать новых учеников уже сейчас.
          a.register(href="#") Зарегистрироваться 

      section.who-we-are
        .wrapper
          h2.title Ассоциация репетиторов объединяет более <b>65 000</b> квалифицированных преподавателей по всей России. Более <b>186 000</b> учеников уже нашли своего репетитора благодаря Ассоциации репетиторов.
          ul.steps
            li.step.step-1 Пару минут на регистрацию, и ваша анкета доступна на сайте. Начните получать заказы уже в первый день.
            li.step.step-2 Получайте от нас учеников, которые подходят под ваши критерии: город и район, возраст и уровень подготовки.
            li.step.step-3 Агентское вознагражение — только стоимость первого занятия с учеником, весь остальной доход полностью ваш!
            li.step.step-4 Удобный интерфейс работы, большая тематическая аудитория, квалифицированная служба поддержки репетиторов.
          h3.sub-title Начните работу прямо сейчас!
          a.register(href="#") Зарегистрироваться
          p.couple-of-minutes Всего несколько минут вашего времени
      
      section.how-we-work
        .wrapper
          h2.title Как мы работаем
          ol.steps
            li.step
              h3.sub-title Регистрируйтесь
              p Это абсолютно бесплатно и ни к чему не обязывает
            li.step
              h3.sub-title Получайте учеников
              p После регистрации мы направляем к Вам учеников, которые отвечают вашим критериям
            li.step
              h3.sub-title Оплачивайте комиссию
              p За каждого ученика Вы платите комиссию единожды и только за результат. 
            li.step
              h3.sub-title Получайте доход
              p Доход от всех последующих занятий полностью ваш!
          a.register(href="#") Зарегистрироваться
          p.couple-of-minutes Всего несколько минут вашего времени

    footer
      .wrapper
        a(href="/")
          h2.logotype Ассоциация репетиторов
        .column
          p.copy © 2013, Сервис подбора репетиторов «Repetit.ru»
          a(href="https://goo.gl/maps/2CIy9")
            address Москва, Шарикоподшипниковская улица, д. 22
        .column
          a.tel(href="tel:+74955438885") +7 495 543-88-85 — Москва
          a.tel(href="tel:+78126458885") +7 812 645-88-85 — Санкт-Петербург

    .registration-step-0
      header
        a(href="/")
          h1.logotype Ассоциация репетиторов
        a.registration-step-0-close(href="/") Закрыть
    
      form.registration(action="/register/", method="post")
        h2.title Регистрация репетитора
        fieldset 
          .line
            input(type="text", name="surname", value="", placeholder="Фамилия", id="reg-surname") 
            label(for="reg-surname") Фамилия
          .line
            input(required="required", data-h5-errorid="reg-name-required", type="text", name="name", value="", placeholder="Имя", id="reg-name") 
            label(for="reg-name") Имя
            .error#reg-name-required Это поле обязательно для заполнения
          .line
            input(type="text", name="familyname", value="", placeholder="Отчество", id="reg-familyname") 
            label(for="reg-familyname") Отчество
          .line
            input.h5-phone(required="required", data-h5-errorid="reg-tel-required", type="tel", name="tel", value="", placeholder="Мобильный телефон", id="reg-tel") 
            label(for="reg-tel") Мобильный телефон
            .error#reg-tel-required Похоже, что номер телефона указан не корректно
          .line
            input.h5-email(type="email", data-h5-errorid="email-error", name="email", value="", placeholder="Email", id="reg-email") 
            label(for="reg-email") Email
            .error#email-error Некорректный формат адреса электропочты
          .line
            input(type="text", name="region", value="", placeholder="Регион", id="reg-region") 
            label(for="reg-region") Регион
            a.change-region(href="#") Другой
        nav
          button(type="submit") Продолжить регистрацию
        p.copyright Продолжая регистрацию, вы подтверждаете, что согласны с 
          a(href="#") Условиями использования
          |  и 
          a(href="#") Политикой конфиденциальности
          | .
    
      .regions-list
        h2.title Выберите регион
        a.regions-list-close(href="#") Закрыть
        input(type="text", placeholder="Поиск по населенному пункту", value="", name="keyword")
        .regions

          .column
            a.item(href="#", data-title="Москва")
              h3.sub-title Москва
              p и Московская область
            a.item(href="#", data-title="Санкт-Петербург")
              h3.sub-title Санкт-Петербург
              p и Ленинградская область
            a.item(href="#", data-title="Нижний Новгород")
              h3.sub-title Нижний Новгород
              p и Нижнегородская область
            a.item(href="#", data-title="Казань")
              h3.sub-title Казань
              p и Республика Татарстан
            a.item(href="#", data-title="Екатеринбург")
              h3.sub-title Екатеринбург
              p и Свердловская область
            a.item(href="#", data-title="Уфа")
              h3.sub-title Уфа
              p и Республика Башкортостан
            a.item(href="#", data-title="Москва")
              h3.sub-title Москва
              p и Московская область
            a.item(href="#", data-title="Санкт-Петербург")
              h3.sub-title Санкт-Петербург
              p и Ленинградская область
            a.item(href="#", data-title="Нижний Новгород")
              h3.sub-title Нижний Новгород
              p и Нижнегородская область
            a.item(href="#", data-title="Казань")
              h3.sub-title Казань
              p и Республика Татарстан
            a.item(href="#", data-title="Екатеринбург")
              h3.sub-title Екатеринбург
              p и Свердловская область
            a.item(href="#", data-title="Уфа")
              h3.sub-title Уфа
              p и Республика Башкортостан

          .column
            a.item(href="#", data-title="Москва")
              h3.sub-title Москва
              p и Московская область
            a.item(href="#", data-title="Санкт-Петербург")
              h3.sub-title Санкт-Петербург
              p и Ленинградская область
            a.item(href="#", data-title="Нижний Новгород")
              h3.sub-title Нижний Новгород
              p и Нижнегородская область
            a.item(href="#", data-title="Казань")
              h3.sub-title Казань
              p и Республика Татарстан
            a.item(href="#", data-title="Екатеринбург")
              h3.sub-title Екатеринбург
              p и Свердловская область
            a.item(href="#", data-title="Уфа")
              h3.sub-title Уфа
              p и Республика Башкортостан
            a.item(href="#", data-title="Москва")
              h3.sub-title Москва
              p и Московская область
            a.item(href="#", data-title="Санкт-Петербург")
              h3.sub-title Санкт-Петербург
              p и Ленинградская область
            a.item(href="#", data-title="Нижний Новгород")
              h3.sub-title Нижний Новгород
              p и Нижнегородская область
            a.item(href="#", data-title="Казань")
              h3.sub-title Казань
              p и Республика Татарстан
            a.item(href="#", data-title="Екатеринбург")
              h3.sub-title Екатеринбург
              p и Свердловская область
            a.item(href="#", data-title="Уфа")
              h3.sub-title Уфа
              p и Республика Башкортостан

          .column
            a.item(href="#", data-title="Москва")
              h3.sub-title Москва
              p и Московская область
            a.item(href="#", data-title="Санкт-Петербург")
              h3.sub-title Санкт-Петербург
              p и Ленинградская область
            a.item(href="#", data-title="Нижний Новгород")
              h3.sub-title Нижний Новгород
              p и Нижнегородская область
            a.item(href="#", data-title="Казань")
              h3.sub-title Казань
              p и Республика Татарстан
            a.item(href="#", data-title="Екатеринбург")
              h3.sub-title Екатеринбург
              p и Свердловская область
            a.item(href="#", data-title="Уфа")
              h3.sub-title Уфа
              p и Республика Башкортостан

      form.sms(action="/confirm/", method="post")
        h2.title Подтвердите номер
        fieldset
          p Мы отправили на ваш телефон код для подтверждения номера. Введите его сюда, чтобы подтвердить регистрацию.
          .line
            input(type="text", data-h5-errorid="sms-code-required", required="required", name="sms-code", placeholder="Код из SMS", value="")
            button(type="submit") Продолжить
            .error#sms-code-required Вы указали неправильный код. Попробуйте снова.
        nav
          a.resend-password(href="#") Отправить повторно




