<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;chrome=1")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0")
    title Ассоциация репетиторов
    script(src="js/modernizr/modernizr.js")
    link(rel="stylesheet", href="css/styles.css")

  body
    
    header
      .wrapper
        a(href="/")
          h1.logotype Ассоциация репетиторов
        a.tel(href="tel:+78126458885") +7 812 
          b 6458885
        p.work-time 09:00-23:00, сб-вс 11:00-21:00
    
    main.page

      section.start-now
        .wrapper
          h2.title Начните работать репетитором вместе с нами
          p Наши репетиторы уже работают с 186 000 учеников по всей России. Зарегистируйтесь и начните получать новых учеников уже сейчас.
          a.register(href="#") Зарегистрироваться 

      section.who-we-are
        .wrapper
          h2.title Ассоциация репетиторов объединяет более <b>65 000</b> квалифицированных преподавателей по всей России. Более <b>186 000</b> учеников уже нашли своего репетитора благодаря Ассоциации репетиторов.
          ul.steps
            li.step.step-1 Пару минут на регистрацию, и ваша анкета доступна на сайте. Начните получать заказы уже в первый день.
            li.step.step-2 Получайте от нас учеников, которые подходят под ваши критерии: город и район, возраст и уровень подготовки.
            li.step.step-3 Агентское вознагражение — только стоимость первого занятия с учеником, весь остальной доход полностью ваш!
            li.step.step-4 Удобный интерфейс работы, большая тематическая аудитория, квалифицированная служба поддержки репетиторов.
          h3.sub-title Начните работу прямо сейчас!
          a.register(href="#") Зарегистрироваться
          p.couple-of-minutes Всего несколько минут вашего времени
      
      section.how-we-work
        .wrapper
          h2.title Как мы работаем
          ol.steps
            li.step
              h3.sub-title Регистрируйтесь
              p Это абсолютно бесплатно и ни к чему не обязывает
            li.step
              h3.sub-title Получайте учеников
              p После регистрации мы направляем к Вам учеников, которые отвечают вашим критериям
            li.step
              h3.sub-title Оплачивайте комиссию
              p За каждого ученика Вы платите комиссию единожды и только за результат. 
            li.step
              h3.sub-title Получайте доход
              p Доход от всех последующих занятий полностью ваш!
          a.register(href="#") Зарегистрироваться
          p.couple-of-minutes Всего несколько минут вашего времени

    footer
      .wrapper
        a(href="/")
          h2.logotype Ассоциация репетиторов
        .column
          p.copy © 2013, Сервис подбора репетиторов «Repetit.ru»
          a(href="https://goo.gl/maps/2CIy9")
            address Москва, Шарикоподшипниковская улица, д. 22
        .column
          a.tel(href="tel:+74955438885") +7 495 543-88-85 — Москва
          a.tel(href="tel:+78126458885") +7 812 645-88-85 — Санкт-Петербург