<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;chrome=1")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0")
    title Шаг 3 | Адреса | Регистрация | Ассоциация репетиторов
    link(rel="stylesheet", href="css/styles.css")

    script(src="js/modernizr.js")
    script(src="js/html-template-polyfill.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/jquery-ui-1.9.2.custom.min.js")
    script(src="js/jquery.nouislider.all.min.js")
    script(src="js/jquery.liblink.js")
    script(src="js/h5Validate/jquery.h5validate.js")

    script(src="js/FileAPI.min.js")
    script(src="js/jquery.fileapi.min.js")
    script(src="js/handlebars/handlebars.min.js")
    script(src="js/typeahead.js/dist/bloodhound.min.js")
    script(src="js/typeahead.js/dist/typeahead.jquery.min.js")

    script(src="js/moment/min/moment.min.js")
    script(src="js/chosen_v1.2.0/chosen.jquery.min.js")
    script(src="js/wNumb.js")

    script(src="js/PersonalData.js", async)

    script(id="address-template" type="text/x-handlebars-template")
      .adress-wrapper
        h2.chapter-title Адрес преподавания
        .line
          label(for="address{{{index}}}") Район
          select#address{{{index}}}
            - var citys = ["Москва","Санкт-Петербург","Абакан","Анадырь","Архангельск","Астрахань","Барнаул","Белгород","Биробиджан","Благовещенск","Брянск","Великий Новгород","Владивосток","Владикавказ","Владимир","Волгоград","Вологда","Воронеж","Горно-Алтайск","Грозный","Екатеринбург","Иваново","Ижевск","Йошкар-Ола","Иркутск","Казань","Калининград","Калуга","Кемерово","Киров","Кострома","Краснодар","Красноярск","Курган","Курск","Кызыл","Липецк","Магадан","Назрань","Майкоп","Махачкала","Мурманск","Нальчик","Нарьян-Мар","Нижний Новгород","Новосибирск","Омск","Орёл","Оренбург","Пенза","Пермь","Петрозаводск","Петропавловск-Камчатский","Псков","Ростов-на-Дону","Рязань","Салехард","Самара","Саранск","Саратов","Смоленск","Ставрополь","Сыктывкар","Тамбов","Тверь","Томск","Тула","Тюмень","Улан-Удэ","Ульяновск","Уфа","Хабаровск","Ханты-Мансийск","Чебоксары","Челябинск","Черкесск","Чита","Элиста","Южно-Сахалинск","Якутск","Ярославль","Череповец","Абдулино","Агинское","Белокуриха","Бийск","Новоалтайск","Рубцовск","Славгород","Свободный","Тында","Вельск","Коряжма","Котлас","Северодвинск","Ахтубинск","Знаменск","Алексеевка","Губкин","Старый Оскол","Дятьково","Карачев","Новозырьков","Унеча","Александров","Гусь-Хрустальный","Ковров","Муром","Покров","Быково","Волжский","Камышин","Михайловка","Урюпинск","Череповец","Борисоглебск","Лиски","Кинешма","Шуя","Ангарск","Братск","Бохан","Усолье-Сибирское","Усть-Илимск","Полесск","Советск","Черняховск","Балабаново","Киров","Обнинск","Карачаевск","Учкекен","Анжеро-Судженск","Белово","Киселевск","Ленинск-Кузнецкий","Междуреченск","Новокузнецк","Осинники","Прокопьевск","Тайга","Таштагол","Юрга","Вятские Поляны","Знаменка","Кирово-Чепецк","Котельнич","Норинск","Слободской","Караваево","Шарья","Анапа","Армавир","Белореченск","Геленджик","Горячий Ключ","Гулькевичи","Ейск","Кореновск","Кропоткин","Кущевская","Лабинск","Ленинградская","Новороссийск","Отрадная","Павловская","Славянск-на-Кубани","Сочи","Тихорецк","Туапсе","Усть-Лабинск","Ачинск","Железногорск","Зеленогорск","Канск","Лесосибирск","Минусинск","Норильск","Шарыпово","Лесниково","Шадринск","Железногорск","Льгов","Рыльск","Суджа","Бокситогорск","Волхов","Всеволжск","Выборг","Луга","Гатчина","Ивангород","Кингисепп","Кириши","Подпорожье","Сиверский","Сланцы","Сосновый бор","Тихвин","Елец","Зеленоград","Балашиха","Барвиха","Большие Вязёмы","Бронницы","Видное","Волоколамск","Воскресенск","Голицыно","Щёлково","Кубинка","Дедовск","Дзержинский","Дмитров","Долгопрудный","Домодедово","Дубна","Егорьевск","Железнодорожный","Жуковский","Ивантеевка","Кашира","Клин","Кокошкино","Коломна","Королёв","Котельники","Красногорск","Краснознаменск","Люберцы","Малаховка","Можайск","Челюскинский","Мытищи","Наро-Фоминск","Ногинск","Одинцово","Орехово-Зуево","Павловский Посад","Подольск","Протвино","Пушкино","Пущино","Радужный","Раменское","Реутов","Руза","Старотеряево","Сергиев Посад","Серпухов","Солнечногорск","Ступино","Сходня","Тучково","Фрязино","Химки","Черкизово","Чехов","Шатура","Электросталь","Юбилейный","Апатиты","Кировск","Арзамас","Выкса","Дзержинск","Заволжье","Княгинино","Кстово","Кулебаки","Павлово","Перевоз","Саров","Сергач","Шашунья","Боровочи","Старая Русса","Бердск","Искитим","Куйбышев","Линёво","Тара","Акбулак","Бугуруслан","Бузулук","Новотроицк","Орск","Ливны","Мценск","Кузнецк","Нижний Ломов","Сердобск","Березники","Кудымкар","Лысьва","Соликамск","Чайковский","Чусовой","Арсеньев","Артем","Большой Камень","Дальнегорск","Дальнереченск","Кировский","Лесозаводск","Михайловка","Находка","Партизанск","Славянка","Спасск-Дальний","Уссурийск","Великие Луки","Кошехабль","Яблоновский","Белебей","Белорецк","Бирск","Ишимбай","Кумертау","Мелеуз","Нефтекамск","Октябрьский","Салават","Сибай","Стерлитамак","Северобайкальск","Дербент","Буйнакск","Избербаш","Каспийск","Кизилюрт","Кизляр","Хасавюрт","Магас","Костомукша","Сортавала","Воркута","Усинск","Ухта","Волжск","Ковылкино","Рузаевка","Мирный","Нерюнгри","Октенцы","Олёкминск","Чурапча","Айхал","Ленск","Альметьевск","Бугульма","Елабуга","Зеленодольск","Лениногорск","Набережные Челны","Нижнекамск","Чистополь","Саяногорск","Азов","Батайск","Белая Калитва","Вешенская","Волгодонск","Гуково","Донецк","Зерноград","Зимовники","Каменск-Шахтинский","Константиновск","Красный Сулим","Матвеев Курган","Миллерово","Новочеркасск","Новошахтинск","Персиановский","Сальск","Таганрог","Шахты","Сасово","Кинель","Похвиснево","Сызрань","Тольятти","Пушкин","Балаково","Балашов","Вольск","Маркс","Энгельс","Холмск","Алапаевск","Березовский","Верхняя Салда","Заречный","Ирбит","Каменск-Уральский","Краснотурьинск","Лесной","Невьянск","Нижний Тагил","Нижняя Тура","Новоуральск","Первоуральск","Серов","Среднеуральск","Вязьма","Рославль","Сафоново","Буденновск","Георгиевск","Ессентуки","Железноводск","Кисловодск","Лермонтов","Минеральные Воды","Невинномысск","Пятигорск","Мичуринск","Уварово","Бежецк","Вышний Волочек","Кимры","Канаково","Кувшиново","Ржев","Торжок","Удомля","Асино","Северск","Стрежевой","Алексин","Новомосковск","Белый Яр","Губкинский","Заводоуковск","Ишим","Когалым","Лангепас","Муравленко","Надым","Нефтеюганск","Нижневартовск","Новый Уренгой","Ноябрьск","Нягань","Пойковский","Пыть-Ях","Советский","Сургут","Тобольск","Урай","Ялуторовск","Воткинск","Глазов","Сарапул","Дмитровград","Инза","Ванино","Комсомольск-на-Амуре","Советская Гавань","Аша","Златоуст","Карталы","Куса","Кыштым","Магнитогорск","Миасс","Нязепетровск","Озерск","Сатка","Снежинск","Трёхгорный","Троицк","Усть-Катав","Алатырь","Батырево","Мариинский Посад","Новочебоксарск","Переславль-Залесский","Рыбинск","Тутаев","Углич","Байконур","Бишкек","Душанбе","Ереван","Курган-тюбе","Могилев","Худжанд","Зарубежные города","Звенигород","Климовск","Лобня","Лыткарино","Крутое","Апрелевка","Севастополь","Евпатория","Керчь","Симферополь","Судак","Феодосия","Ялта","Кола"]
            each city in citys
              option(value=city)=city
        .line.address-details
          .street.subdevision
            label(for="street{{{index}}}") Улица
            input(type="text", id="street{{{index}}}", name="street[]", value="")
          .house.subdevision
            label(for="house{{{index}}}") Дом
            input(type="text", id="house{{{index}}}", name="house[]", value="")
          .corpus.subdevision
            label(for="corpus{{{index}}}") Корпус
            input(type="text", id="corpus{{{index}}}", name="corpus[]", value="")
          .building.subdevision
            label(for="building{{{index}}}") Строение
            input(type="text", id="building{{{index}}}", name="building[]", value="")

    
  body.registration-page
    header
      .wrapper
        a(href="/")
          h1.logotype Ассоциация репетиторов
      
    .registration-step-1
      
      h2.title Регистрация репетитора

      .steps
        .step.selected
          h3.sub-title: span Личные данные
        .step.selected
          h3.sub-title: span Предметы
        .step.selected
          h3.sub-title: span Адреса
        .step
          h3.sub-title: span Образование

      form.panel(action="/save/", method="post", enctype="multipart/form-data")

        fieldset.address-holder

          .line
            a.add-address(href="#") Добавить адрес

        fieldset
          h2.chapter-title Адреса выезда
          .line
            label(for="comments") Комментарии по выезду для ученика
            textarea#comments(name="comments", cols="30", rows="10")

        nav
          a.previous(href="registration-2.html") Предыдущий
          button(type="submit") Продолжить

        
