<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;chrome=1")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0")
    title Шаг 1 | Личные данные | Регистрация | Ассоциация репетиторов
    link(rel="stylesheet", href="css/styles.css")

    script(src="js/modernizr.js")
    script(src="js/html-template-polyfill.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/jquery-ui-1.9.2.custom.min.js")
    script(src="js/jquery.nouislider.all.min.js")
    script(src="js/jquery.liblink.js")
    script(src="js/h5Validate/jquery.h5validate.js")

    script(src="js/FileAPI.min.js")
    script(src="js/jquery.fileapi.min.js")
    script(src="js/handlebars/handlebars.min.js")
    script(src="js/typeahead.js/dist/bloodhound.min.js")
    script(src="js/typeahead.js/dist/typeahead.jquery.min.js")


    script(src="js/moment/min/moment.min.js")
    script(src="js/chosen_v1.2.0/chosen.jquery.min.js")
    script(src="js/wNumb.js")


    script(src="js/PersonalData.js", async)

    
  body.registration-page
    
    header
      .wrapper
        a(href="/")
          h1.logotype Ассоциация репетиторов
      
    .registration-step-1
      
      h2.title Регистрация репетитора

      .steps
        .step.selected
          h3.sub-title: span Личные данные
        .step
          h3.sub-title: span Предметы
        .step
          h3.sub-title: span Адреса
        .step
          h3.sub-title: span Образование

      form.panel(action="/save/", method="post", enctype="multipart/form-data")
        template#current-avatar-template
          .current-avatar
            label(for="registration-avatar")
              img.avatar(alt="Фотография", data-dz-thumbnail)
            a.close(href="#", data-fileapi="file.remove")
        fieldset.photo
          label.file-selector
            span.abstract Перетяните ваше фото, или нажмите, чтобы выбрать
            span.select Выбрать
            input(type="file", name="avatar", id="registration-avatar", accept="image/*")
          p.meta Поддерживаются файлы JPG, GIF, PNG до 5 Мб.
        fieldset
          
          h3.sub-title Пол
          .line.sex-line
            .radio-widget
              input(checked="checked", id="sex-male", type="radio", name="sex", value="male")
              label(for="sex-male") мужской
            .radio-widget
              input(id="sex-female", type="radio", name="sex", value="female")
              label(for="sex-female") женский

          h3.sub-title Дата рождения
          .line.birthday
            .error#birthday-required Пожалуйста, заполните это поле
            input.day(pattern="[1-9][0-9]*", min="1", max="31", maxlength="2" type="text", value="", placeholder="День", required="required", data-h5-errorid="birthday-required")
            
            .month
              select.unchanged(name="month", required="required", data-h5-errorid="birthday-required")
                option(value="0") Январь
                option(value="1") Февраль
                option(value="2") Март
                option(value="3") Апрель
                option(value="4") Май
                option(value="5") Июнь
                option(value="6") Июль
                option(value="7") Август
                option(value="8") Сентябрь
                option(value="9") Октябрь
                option(value="10") Ноябрь
                option(value="11") Декабрь

            .year
              select.unchanged(name="year", required="required", data-h5-errorid="birthday-required")
                - var n = 2000
                while n > 1945
                  option(value=n)=n
                  - n--
          
          h3.sub-title Статус
          .line
            .error#status-required Пожалуйста, выберите вариант

            .status
              select.unchanged(name="status", required="required", data-h5-errorid="status-required")
                option(value="0") Свободен
                option(value="1") Занят

          h3.sub-title Стаж
          .line.experience-container
            .experience-line-header
              - var n = 0
              while n < 55
                .years=n
                - n+=5
            #experience
            input#experience-value.value(required="required", pattern="[1-9][0-9]*" type="number", name="experience", value="", min="0", max="50", maxlength="2")

        nav
          button(type="submit") Продолжить

        
