@font-face {
  font-family: 'Elektra Text Pro';
  src: url('ElektraTextPro.eot'); /* IE9 Compat Modes */
  src: url('ElektraTextPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ElektraTextPro.woff') format('woff'), /* Modern Browsers */
       url('ElektraTextPro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ElektraTextPro.svg#ce294d1546d66199972c794a1023f04c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

