html
  height 100%
  width 100% 
  body
    position relative
    min-height 100%
    width 100%
    font-family 'Helvetica Neue', sans-serif
    .wrapper
      min-width 1000px
      max-width 1280px
      // width 980px
      margin 0 auto 
      padding 0 10px 
      position relative
    main.page
      padding 0 0 100px
    footer
      font-size 0
      white-space nowrap
      position absolute
      bottom 0
      left 0
      right 0
      height 100px
      overflow hidden
      line-height 100px
      background-color #2B2F33
      .logotype
        white-space normal
        display inline-block
        width 24%
        height 100px
        background url('../images/footer-logo.png') 30px 12px no-repeat
        overflow hidden
        text-indent -9999px
        vertical-align middle
      .column
        font 12px/20px Tahoma, Geneva, sans-serif
        white-space normal
        max-width 36%
        margin-left 2%
        display inline-block
        vertical-align middle
        padding 0 0 14px 
        color #85898c
        .tel
          float left
          clear left
        a
          color #85898c
          text-decoration none
    header
      height 100px
      .logotype
        position absolute
        top 24px
        left 30px
        width 275px
        height 107px 
        background url('../svg/logotype.svg') 0 0 no-repeat
        z-index 10
        text-indent -999px
        overflow hidden
      .work-time
        position absolute
        right 30px
        top 58px
        color #777
        font-size 12px  
        line-height 14px
        font-family 'Tahoma'
      .tel
        position absolute
        right 30px
        top 30px
        text-decoration none
        font-size 23px
        line-height 23px
        font-family 'Tahoma'
        color #303030 
        b
          font-weight bold