html
  height 100%
  width 100% 
  &.no-svg
    body
      header
        .logotype
          background-image url('../img/register/logotype.png') 
  body
    overflow-x hidden
    position relative
    min-height 100%
    width 100%
    font-family 'Helvetica Neue', sans-serif
    .wrapper
      max-width 1280px
      margin 0 auto 
      padding 0 10px
    main.page
      display block
      padding 0 0 100px
    footer
      font-size 0
      white-space nowrap
      position absolute
      bottom 0
      left 0
      right 0
      height 100px
      overflow hidden
      line-height 100px
      background-color #2B2F33
      .logotype
        white-space normal
        display inline-block
        width 24%
        height 100px
        background url('../img/register/footer-logo.png') 30px 12px no-repeat
        overflow hidden
        text-indent -9999px
        vertical-align middle
      .column
        font 12px/20px Tahoma, Geneva, sans-serif
        white-space normal
        max-width 36%
        margin-left 2%
        display inline-block
        vertical-align middle
        padding 0 0 14px 
        color #85898c
        .tel
          float left
          clear left
        a
          color #85898c
          text-decoration none
    header
      height 100px
      .wrapper
        position relative
      .logotype
        position absolute
        top 24px
        left 30px
        width 275px
        height 107px 
        background url('../img/register/logotype.svg') 0 0 no-repeat
        z-index 10
        text-indent -999px
        overflow hidden
      .work-time
        position absolute
        right 30px
        top 58px
        color #777
        font-size 12px  
        line-height 14px
        font-family 'Tahoma'
      .tel
        position absolute
        right 30px
        top 30px
        text-decoration none
        font-size 23px
        line-height 23px
        font-family 'Tahoma'
        color #303030 
        b
          font-weight bold
          
@media (max-width 800px)
  html body .wrapper
    padding 0 32px

@media (max-width 1000px)
  html body
    main.page
      padding 0
    footer
      position static
      .logotype
        display none
      .column
        max-width 48%
        margin 0 2% 0 0 

@media (max-width 560px)
  html body
    header
      margin-bottom 32px
      text-align center
      .logotype
        right 0
        margin auto
      .work-time,
      .tel
        display none
        
@media (max-width 680px)
  html body
    footer
      height auto
      padding 32px 0 
      .column
        max-width none
        display block