html.no-svg body
  .registration-steps
    .panel.complete
      .sub-title
        background-image url("../img/register/complete.png")

body.registration-page
  background-color #EFEFEF
  

select.unchanged
  color rgba(63,63,63,.51)
  &+.chosen-container .chosen-choices .search-field input,
  &+.chosen-container .chosen-single span
    color rgba(63,63,63,.51)

html body .registration-steps .panel .ui-state-error + .chosen-container 
  .chosen-choices,
  .chosen-single
    border-color #f56d6c
    border 1px solid #f56d6c
    box-shadow 0 0 4px 1px rgba(245,109,108,0.3)

.registration-steps
  position relative
  padding 0 30px 30px
  .title
    text-align center
    margin -59px 0 0 0
    font-size 34px
    line-height 36px
    font-weight bold
    font-family 'Elektra Text Pro'
    color #3F3F3F
  .steps
    max-width 924px  
    display block
    font-size 0
    line-height 0
    position relative
    margin 75px auto
    height 0
    border-top 3px dashed rgba(#3F3F3F, .3)
    &:before
      content '.'
      overflow hidden
      text-indent -999px
      font-size 0
      line-height 0
      display block
      top -5px
      bottom 0
      right -16px
      position absolute
      background-color #EFEFEF
      z-index 1
      width 12.5% 
    &:after
      content '.'
      overflow hidden
      text-indent -999px
      font-size 0
      line-height 0
      display block
      top -5px
      bottom 0
      left -16px
      position absolute
      background-color #EFEFEF
      z-index 1
      width 12.5%
    .step
      text-align center
      position relative
      vertical-align middle
      display inline-block
      width 25%
      height 0
      .sub-title
        position absolute
        bottom 25px
        left 50%
        span
          white-space nowrap
          text-transform uppercase
          position relative
          left -50%
          font-size 16px
          line-height 18px
          font-weight bold
          font-family 'Elektra Text Pro'
          color rgba(#3F3F3F, .3) 
      &.selected
        border-top #478E9E 3px solid
        margin-top -3px
        .sub-title
          span
            color #478E9E 
        &:before
          border #478E9E 3px solid
        &:after
          z-index 3
          position absolute
          left 50%
          top 50%
          margin -8px 0 0 -8px
          width 16px
          height 16px
          display block
          border-radius 100%
          content '.'
          overflow hidden
          text-indent -999px
          font-size 0
          line-height 0
          background-color #478E9E 
      &:before
        z-index 2
        position relative
        content '.'
        overflow hidden
        text-indent -999px
        display inline-block
        width 26px
        height 26px
        border 3px dashed rgba(#3F3F3F, .3)
        border-radius 100%
        top -16px
        background-color #EFEFEF 
        
  .panel
    background #FFF
    max-width 800px
    margin auto
    border 3px solid rgba(#979797, .3)
    text-align left
    padding 40px
    // position relative
    
    overflow hidden
    height 0
    position absolute
    left -9999px 
    
    &.current
      position relative
      left auto
      height auto
      overflow visible
      
    &:after
      content '.'
      clear both
      display block
      font-size 0
      line-height 0
      overflow hidden
      text-indent -9999px
      
    .error
      font-family 'Helvetica Neue'
      display none
      margin-left 10px
      width 160px
      padding 10px 9px 10px 15px
      height 36px
      font-size 14px
      line-height 17px
      border-radius 2px
      position absolute
      left 100%
      top -4px
      color #fff 
      background-color #FF7070 
      background-color rgba(#FF7070, .95) 
      z-index 100
      &.left
        right 100%
        left auto
        margin 0 10px 0 0
        &:after
          left 100%
          right auto
          border-width 6px 0 6px 5px
          border-color transparent transparent transparent #FF7070
          border-color transparent transparent transparent rgba(#FF7070, .95)
        
      &:after
        right 100%
        top 50%
        position absolute
        content '.'
        font-size 0
        line-height 0
        overflow hidden
        display block
        margin -6px 0 0 
        border-width 6px 5px 6px 0
        border-style solid
        border-color transparent #FF7070 transparent transparent
        border-color transparent rgba(#FF7070, .95) transparent transparent

    nav
      clear both
      padding 40px 0 0
      &:after
        content "" 
        clear both
        display block
        font-size 0
        height 0
        overflow hidden
      .previous
        outline none
        float left
        border-style none
        background #F6F6F6
        color #3F3F3F 
        box-shadow none
        border-radius #000
        text-decoration none
        cursor pointer
        font-size 16px
        font-weight bold
        height 48px
        line-height 48px
        padding 0 23px 0 17px
        font-family 'Elektra Text Pro'
        text-transform uppercase
        &:before
          content '< '  
      button
        outline none
        float right
        border-style none
        background #FF8C43
        box-shadow none
        cursor pointer
        border-radius #000
        color #fff
        font-size 16px
        font-weight bold
        height 48px
        line-height 48px
        padding 0 17px 0 23px
        font-family 'Elektra Text Pro'
        text-transform uppercase
        &.complete
          &:after
            display none
        &:after
          content ' >'  
    
    .sub-title
      font-size 18px
      line-height 23px
      font-family 'Helvetica Neue'
      margin 0 0 15px 
      b
        color rgba(#3F3F3F, .4)
        font-size 16px
      
    .chapter-title
      height 48px
      white-space nowrap
      display block
      background rgba(#E7E7E7, .4)
      font-size 16px
      line-height 48px
      font-family 'Elektra Text Pro'
      font-weight bold
      padding 0 18px
      text-transform uppercase
      color #3F3F3F
      margin 0 -18px 30px
      box-sizing border-box
      overflow hidden
      text-overflow ellipsis
      max-width 100vw
      span
        box-sizing border-box
        display block
        width 100%
        padding 0 
        overflow hidden
        text-overflow ellipsis
        text-overflow ellipsis
        

    .line
      position relative
      display block
      margin 0 0 30px
      font-size 0
      &.adress_line
        width 350px
      &.spec textarea
        width 520px
      &.name
        display inline-block
        vertical-align top
        margin-right 20px
      &.grad-year
        display inline-block
        vertical-align top
        input
          width 100px 
      &>label
        font-size 18px
        line-height 23px
        color #3F3F3F
        font-weight bold 
        font-family 'Helvetica Neue'
        margin 0 0 15px 
        display block
      &.sex-line
        font-size 0
        .radio-widget
          width 50%
          display inline-block
          vertical-align top
          
    .sertificat-list
      .sertificat
        position relative
        margin 0 0 30px
        padding 0 0 0 220px
        img
          position absolute
          left 45px
          width 110px
          max-height 100px
        .remove
          position absolute 
          left 145px
          top -10px 
          width 20px
          height 20px
          border-radius 100% 
          background #478E9E url('../img/register/remove.svg') 50% 50% no-repeat
          
    .add-sertificat
      clear both
      display block
      margin 0 0 30px 
      padding 30px 0 0 
      border-top 1px solid rgba(#D6D6D6, .4)
      input
        position absolute
        left -9999px
      span
        font-size 13px
        line-height 18px
        vertical-align middle
        color #BDBDBD 
        font-family 'Helvetica Neue'
        font-weight 200 
      .button
        cursor pointer
        font-size 16px
        line-height 48px
        height 48px
        padding 0 20px
        font-size 16px
        font-weight bold
        display inline-block
        text-transform uppercase
        text-decoration none
        color #FFF
        background-color #5DA1B1
        margin-right 30px
          
    .lessons-format
      .checkbox-widget
        display inline-block
        width 30%
        
    .minimal-duration
      label
        font-family 'Helvetica Neue'
        display block
        color rgba(#3F3F3F, .8)
        font-size 18px
        line-height 22px 
        margin 0 0 15px
        color #3F3F3F 
      input
        width 100px 
        margin-right 10px
      span
        font-family 'Helvetica Neue'
        font-size 16px
        line-height 18px
        color #3F3F3F 
    .address
      width 520px
      
    .address-details
      font-size 0
      label
        font-size 18px
        line-height 23px
        color #3F3F3F
        font-weight bold 
        font-family 'Helvetica Neue'
        margin 0 0 15px 
        display block
      .street
        margin 0 20px 0 0 
        display inline-block
        input
          width 250px
      .house
        margin 0 20px 0 0
        input
          width 70px
        display inline-block
      .corpus
        margin 0 20px 0 0
        input
          width 70px
        display inline-block
      .building
        input
          width 70px
        display inline-block
        
    .education
      input
        width 520px

    .third
      width 30%
      display inline-block
      vertical-align top
      white-space nowrap
      &~.error
        top 34px 
      label
        font-family 'Helvetica Neue'
        display block
        color rgba(#3F3F3F, .8)
        font-size 18px
        line-height 22px 
        margin 0 0 15px
      input
        width 100px 
        margin-right 10px
      span
        font-family 'Helvetica Neue'
        font-size 16px
        line-height 18px
        color #3F3F3F 

    .remove-education,
    .remove-address,
    .remove-subject,
    .add-education,
    .add-address,
    .add-subject
      line-height 48px
      height 48px
      padding 0 20px
      font-size 16px
      font-weight bold
      display inline-block
      text-transform uppercase
      text-decoration none
      color #FFF
      background-color #5DA1B1
      &:before
        content "+  "
        
    .remove-education,
    .remove-address,
    .remove-subject
      float right
      display none
      background-color #FF8C43 
      &:before
        content "-  "
        
    textarea
      border 1px solid #E5E5E5
      border-radius 4px
      margin 0
      height 100px
      width 100%
      box-sizing border-box 
      resize none
      outline none
      padding 10px 15px
      font-size 18px
      line-height 24px
      font-family 'Helvetica Neue'
      font-weight 200 
    
    .chosen-drop
      border-top 1px
      border-radius 4px
      border 1px solid #d8e7ea
      // margin-top 0
      .chosen-results
        margin 0
        overflow-x hidden
        overflow-y auto
        margin 0
        padding 0
        max-height 240px
        .active-result
          font-size 16px
          line-height 28px
          color #3F3F3F
          font-family 'Helvetica Neue'
          font-weight 200
          &.highlighted
            background-color rgba(#BFD6DB, .40)
         
    .chosen-container
      min-width 0
      .chosen-search input
        border 1px solid #E5E5E5
        border-radius 4px
        &:hover,
        &:focus
          border-color #BFD6DB
      &.chosen-with-drop .chosen-single div b
        // background-position -18px -5px 
      .no-results
        font-size 16px
        line-height 28px
        color #3F3F3F
        font-family 'Helvetica Neue'
        font-weight 200
        background-color rgba(#BFD6DB, .40)
      .chosen-single
        box-sizing border-box
        border 1px solid #E5E5E5
        border-radius 4px
        background #fff 
        height 48px
        box-shadow none !important
        font-size 18px
        font-weight 200 
        line-height 24px
        padding 11px 10px
        outline none
        font-family 'Helvetica Neue'
        div b
          background: url("../img/register/ddico.svg") 100% 50% no-repeat;
          background-size 34px auto
          // background-position 0 -10px 
          width 34px
          height auto
          right 0
          top 0
          bottom 0
          margin auto
        &:hover,
        &:focus
          border-color #BFD6DB
          
    .duration-container,
    .experience-container
      height 48px
      line-height 48px
      padding 0 0 0 110px
      position relative
      .noUi-handle
        background none
        border-style none
        box-shadow none
        border-radius 0
        height 10px
        top 0
        width 0
        left 0
        &:after
          display none
        &:before
          content "."
          cursor pointer
          font-size 0
          line-height 0
          display block
          position absolute
          top 100%
          left 100%
          margin-left -7px
          width 14px
          height 20px
          background url("../img/register/handle.svg") 0 0 no-repeat
      .noUi-background
        background #E2E4E4
        box-shadow inset 0 1px 0 0 #CBCDCD
      .noUi-target
        position relative
        vertical-align middle
        margin-left 0
        height 10px
        border-radius 2px
        background-color #6CB0BF
        background-image linear-gradient(to bottom, rgba(108,176,191,1) 0%,rgba(71,147,163,1) 100%)
        cursor pointer
        border-style none
      .value
        position absolute
        left 0
        top 0
        bottom 0
        margin auto
        width 95px
      .duration-line-header,
      .experience-line-header
        margin 0 0 6px
        line-height 15px
        font-weight 200
        font-family 'Helvetica Neue'
        color #3F3F3F 
        color rgba(#3F3F3F, .8)
        white-space nowrap
        font-size 0
        display flex
        justify-content space-between
        .years
          font-size 12px
          display inline-block
          vertical-align top
  

    .chosen-choices,
    input.tt-input,
    .subdevision>input[type="text"],
    .subdevision>input[type="email"],
    .subdevision>input[type="number"],
    .subdevision>input[type="tel"],
    .line>input[type="text"],
    .line>input[type="email"],
    .line>input[type="number"],
    .line>input[type="tel"]
      box-sizing border-box
      border-radius 4px
      background #fff 
      height 48px
      box-shadow none !important
      font-size 18px
      font-weight 200 
      line-height 24px
      padding 11px 10px
      outline none
      font-family 'Helvetica Neue'
      border 1px solid #E5E5E5
      
      &:hover,
      &:focus
        border-color #BFD6DB
        
      &.ui-state-error
        border-color #F56D6C
        box-shadow 0 0 4px 1px rgba(#F56D6C, .3)
        &+label
          color #D0021B 
          
      &::-webkit-input-placeholder
        color rgba(#3F3F3F, .4)
      &:-moz-placeholder
        color rgba(#3F3F3F, .4)
      &::-moz-placeholder
        color rgba(#3F3F3F, .4)
      &:-ms-input-placeholder
        color rgba(#3F3F3F, .4)
        
    .chosen-container-multi 
      .chosen-choices
        padding 4px 3px
        li.search-field 
          line-height 38px
          input[type="text"]
            font-weight 200 
            font-family 'Helvetica Neue'
        li.search-choice
          background-image none
          background-color #FFF
          box-shadow none 
          line-height 24px
          padding 3px 30px 3px 15px 
          border: 1px solid #e5e5e5;
          color #3F3F3F 
          &:hover
            border-color #BFD6DB
          .search-choice-close
            opacity 0.6
            top 50%
            margin-top -5px 
            right 8px
      .chosen-drop .result-selected
        font-size 16px
        line-height 28px
        font-weight 200 
        font-family 'Helvetica Neue'
    
    .subdevision.hide
      pointer-events none
      opacity 0.1
      
    fieldset.photo
      float left
      width 220px
      left 100%
      margin-left -220px 
      z-index 2
      position relative
      .current-avatar
        position relative
        .avatar
          width 100%
          display block
        .close
          z-index 3
          position absolute
          top -18px
          right -18px
          width 36px
          height 36px
          font-size 0
          line-height 0
          background url("../img/register/close-round.svg") 50% 50% no-repeat
      .file-selector
        border 3px dashed #ACD8DD
        border-radius 9px
        display block
        padding 20px 
        text-align center
        background url("../img/register/person.svg") 50% 50px no-repeat
        cursor pointer
        position relative
        input
          position absolute
          left -9999px
          opacity 0
        .abstract
          display block
          margin 170px 0 0 
          text-align center
          font-family 'Helvetica Neue'
          font-weight 200 
          font-size 14px
          line-height 18px
          color rgba(#478E9E, .64) 
        .select
          height 48px
          line-height 48px
          background #478E9E
          color #fff  
          font-weight bold
          font-family 'Elektra Text Pro'
          font-size 16px
          display block
          text-transform uppercase
          margin 50px 0 0 
      
      // .current-avatar~.file-selector,
      // .current-avatar~.meta
      //   position absolute
      //   left -9999px
      //   opacity 0

      .meta
        font-size 13px
        line-height 18px
        text-align center
        color #BDBDBD
        font-family 'Helvetica Neue'
        font-weight 200 
        margin 15px auto 0
        max-width 180px 
      &+fieldset
        float left
        position relative
        left 100%
        margin-left -100%
        width 100%
        padding-right 240px
        box-sizing border-box
        max-width 680px
        .birthday
          font-size 0
        .day
          width 95px
          display inline-block
          vertical-align top
        .month
          display inline-block
          width 175px
          margin-left 10px
          vertical-align top
        .year
          display inline-block
          width 150px
          margin-left 10px
          vertical-align top
          
    &.complete
      text-align center
      padding 100px 40px 110px
      overflow hidden
      p
        max-width 530px
        margin 0 auto  
        font-family 'Helvetica Neue'
        font-weight 200 
        font-size 20px
        line-height 26px
        color rgba(#3F3F3F, .7)
      .sub-title
        max-width 530px
        font-size 28px
        line-height 32px
        color #3F3F3F
        font-weight bold
        font-family 'Elektra Text Pro'
        padding 120px 0 0
        margin 0 auto 20px 
        background url("../img/register/complete.svg") 50% 0 no-repeat
         
    

@media (max-width 1060px)
  .registration-steps
    .title
      margin-top 0

@media (max-width 880px)
  .registration-steps
    padding 0
    .panel
      border-style solid none none
      max-width none
      margin 0
      padding 0 20px 20px
      .error
        display none !important
      fieldset,
      fieldset.photo,
      fieldset.photo+fieldset
        float none
        left auto
        margin 20px 0 0
        padding 0

@media (max-width 500px)
  .registration-steps
    .panel
      border-style solid none none
      max-width none
      margin 0
      padding 0 20px 20px 
      .line.name
        margin 0 0 30px
      .line.grad-year
        display block
      .education input,
      .line.grad-year input,
      .name input,
      .line.spec textarea,
      .address
        width 100%
      .lessons-format
        .checkbox-widget
          width auto
          display block
      nav
        .previous,
        button
          box-sizing border-box
          width 100% 
          display block
          float none
          margin 0 0 20px 
      fieldset,
      fieldset.photo,
      fieldset.photo+fieldset
        width auto
        max-width 100%
        float none
        left auto
        margin 20px 0 0
        .address-details
          .house,
          .corpus,
          .building,
          .street
            margin 0 0 20px
            input
              width 100%
              box-sizing border-box
            display block
        .third
          width auto 
          margin 0 0 20px 
        .dropdown-container-widget,
        .dropdown-widget
          width 100%
          display block
          
        .month,
        .year,
        .day
          margin 0 0 20px
          width 100%

@media (max-width 924px)
  .registration-steps
    .steps
      max-width 70vw
      margin 75px auto
      .step
        .sub-title
          span
            font-size 12px

@media (max-width 740px)
  .registration-steps
    .panel 
      .third      
        width auto
        display block
        
@media (max-width 600px)
  .registration-steps
    .panel 
      .add-sertificat 
        label
          display block
          margin 0 0 30px 
        span
          display block
      .sertificat-list
        .sertificat
          padding 0
          img
            position static
            display block
            margin 0 0 30px
          .remove
            left 100px  
          
    .steps
      margin 75px auto
      .step
        .sub-title
          span
            font-size 11px
            font-weight normal
      .step:nth-child(2n)
        .sub-title
          bottom auto
          top 25px