html.no-svg
  .start-now
    .wrapper
      &:after
        background url('../svgimages/couple-of-minutes.png') 0 0 no-repeat

.start-now
  height 505px
  position relative
  background #2d3a43 url('../images/header-bg.jpg') 50% 50% no-repeat
  background-size cover
  padding 95px 0 0 
  text-align center
  color #fff
  .wrapper
    &:after
      content '.'
      overflow hidden
      text-indent -999px
      display block
      position absolute
      width 175px
      height 90px
      left 50%
      bottom 18px
      margin-left -10px
      background url('../svg/couple-of-minutes.svg') 0 0 no-repeat
  .title
    font-family 'Elektra Text Pro'
    font-weight bold
    font-size 60px
    line-height 64px
    margin-bottom 32px
  p
    font-size 27px
    line-height 35px
    margin-bottom 88px
  .register
    position absolute
    bottom 130px
    left 0
    right 0
    margin auto
    width 327px
    
    font-family 'Elektra Text Pro'
    font-weight bold
    height 24px
    font-size 22px
    line-height 24px
    text-align center
    padding 19px 0 15px
    text-decoration none
    background-color #FF8C43
    display inline-block
    color #FFF
    text-transform uppercase
    transition background-color .25s
    &:hover
      background-color #FFA84A 
    &:after
      content '>'
      
@media (max-width 850px)
  .start-now
    padding 35px 0 0
    height 565px 
    .wrapper
      display block
      &:after
        bottom 10px 
    .register
      bottom 112px
      
@media (max-width 560px)
  .start-now
    background none
    color #333
    text-align left 
    height auto
    .title
      font-size 42px
      line-height 48px
    p 
      margin 32px 0
      font-size 24px
      line-height 28px
    .register
      position static
    .wrapper
      &:after
        display none
        
@media (max-width 460px)
  .start-now .title
    font-size 32px
    line-height 36px
  p
    font-size 14px
    line-height 18px