.start-now
  height 505px
  position relative
  background url('../images/header-bg.jpg') 50% 50% no-repeat
  background-size cover
  padding 95px 0 0 
  text-align center
  color #fff
  .wrapper
    &:after
      content '.'
      overflow hidden
      text-indent -999px
      display block
      position absolute
      width 175px
      height 90px
      left 50%
      top 403px
      margin-left -10px
      background url('../svg/couple-of-minutes.svg') 0 0 no-repeat
  .title
    font-family 'Elektra Text Pro'
    font-weight bold
    font-size 60px
    line-height 64px
    margin-bottom 32px
  p
    font-size 27px
    line-height 35px
    margin-bottom 88px
  .register
    font-family 'Elektra Text Pro'
    font-weight bold
    height 24px
    font-size 22px
    line-height 24px
    text-align center
    padding 19px 20px 15px
    text-decoration none
    background-color #FF8C43
    display inline-block
    color #FFF
    text-transform uppercase
    transition background-color .25s
    &:hover
      background-color #FFA84A 
    &:after
      content '>'