.twitter-typeahead
  .tt-dropdown-menu
    width 100% 
    &>div
      top -1px
      position relative
      border 1px solid #BFD6DB 
      background #FFF 
      border-radius 4px
      font-size 16px
      line-height 28px
      color #3F3F3F 
      font-weight 200
      font-family 'Helvetica Neue', sans-serif
      padding 5px 10px 
      b
        float right
        font-size 14px
        line-height 28px
        color rgba(#3F3F3F, .5)
        
