.twitter-typeahead
  .tt-hint
    width 520px
    font-size 18px
    font-weight 200
    line-height 24px
    padding 11px 10px
    font-family 'Helvetica Neue'
    color rgba(0,0,0,.5)
    border 1px solid transparent
    background none
  strong
    font-weight bold
  .tt-dataset-locations
    max-height 200px
    overflow auto
  .tt-dropdown-menu
    width 100% 
    &>div
      max-height 200px
      overflow auto
      top -1px
      position relative
      border 1px solid #BFD6DB 
      background #FFF 
      border-radius 4px
      font-size 16px
      line-height 28px
      color #3F3F3F 
      font-weight 200
      font-family 'Helvetica Neue', sans-serif
      padding 5px 10px 
      b
        float right
        font-size 14px
        line-height 28px
        color rgba(#3F3F3F, .5)
        
