html.no-svg
  .who-we-are .steps .step
      &.step-1:before
        background-image url('../images/ico-couple-of-minutes.png')
      &.step-2:before
        background-image url('../images/ico-get-clients.png')
      &.step-3:before
        background-image url('../images/ico-pay.png')
      &.step-4:before
        background-image url('../images/ico-ok.png')
        
.who-we-are
  position relative
  text-align center
  
  .title
    color #3F3F3F
    font-size 28px
    line-height 36px
    margin 56px 0 64px
    font-family 'Helvetica Neue'
    font-weight 200
    b
      font-weight bold
      
  .sub-title
    color #3F3F3F
    font-size 39px
    line-height 42px
    margin-bottom 40px

  .steps
    font-size 0
    line-height 0
    margin 0 auto -4px
    padding 0 3.90625%
    max-width 980px
    .step
      display inline-block
      vertical-align top
      // width 34.375%
      width 44.897% 
      // margin 0 0 70px 7.8125%
      margin 0 0 65px 0
      font-size 20px
      line-height 26px
      color rgba(#3F3F3F,.7)
      font-weight 200 
      &:nth-child(2n)
        margin 0 0 65px 10.204% 
      &:before
        content "."
        display block
        height 130px
        overflow hidden
        text-indent -999px
        margin-bottom 15px
        background-size 130px 130px
        background-position 50% 50%
        background-repeat no-repeat
      &.step-1:before
        // background-image url('../svg/ico-couple-of-minutes.svg')
        background-image url('../images/ico-couple-of-minutes-2x.png')
      &.step-2:before
        // background-image url('../svg/ico-get-clients.svg')
        background-image url('../images/ico-get-clients-2x.png')
      &.step-3:before
        // background-image url('../svg/ico-pay.svg')
        background-image url('../images/ico-pay-2x.png')
      &.step-4:before
        // background-image url('../svg/ico-ok.svg')
        background-image url('../images/ico-ok-2x.png')
        
          
  p.couple-of-minutes
    color rgba(#3F3F3F, .6)
    font-size 16px
    line-height 26px
    font-family 'Helvetica Neue'
    font-weight 200 
    margin 4px 0 70px 
    
  .register 
    font-family 'Elektra Text Pro'
    font-weight bold
    height 24px
    font-size 22px
    margin 0 0 5px
    line-height 24px
    text-align center
    padding 19px 20px 15px
    text-decoration none
    background-color #FF8C43
    display inline-block
    color #FFF
    text-transform uppercase
    transition background-color .25s
    &:hover
      background-color #FFA84A 
    &:after
      content '>'
      
@media (max-width 850px)
  .who-we-are
    .steps
      .step
        width 40.1875% 
        margin 0 0 60px 2%

@media (max-width 640px)
  .who-we-are      
    text-align left
    .register 
      font-size 14px
      line-height 18px
      height 18px
      width 230px
      margin auto
      display block
      padding 19px 0 15px
    .couple-of-minutes
      text-align center
    .steps
      padding 0
      .step
        position relative
        display block
        width auto
        padding 0 0 0 150px 
        margin 0 0 32px
        text-align left
        min-height 130px
        &:nth-child(2n)
          margin 0 0 32px
        &:before
          position absolute
          left 0
          top -10px
          width 130px
  
@media (max-width 440px)
  .who-we-are 
    .steps 
      .step
        padding 0
        min-height 0
        &:before
          display none