@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'),
       url('../fonts/HelveticaNeueCyr-Light.svg#e134913b640f138403f1e25143da3868') format('svg');
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Elektra Text Pro';
  src: url('../fonts/ElektraTextPro-Bold.eot');
  src: url('../fonts/ElektraTextPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ElektraTextPro-Bold.woff') format('woff'),
       url('../fonts/ElektraTextPro-Bold.ttf')  format('truetype'),
       url('../fonts/ElektraTextPro-Bold.svg#2d21227bed0a1f1f5e04009ed8e63b16') format('svg');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Elektra Text Pro';
  src: url('../fonts/ElektraTextPro.eot'); 
  src: url('../fonts/ElektraTextPro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ElektraTextPro.woff') format('woff'), 
       url('../fonts/ElektraTextPro.ttf')  format('truetype'),
       url('../fonts/ElektraTextPro.svg#ce294d1546d66199972c794a1023f04c') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}

