html.no-svg .how-we-work .steps .step:after {
  background: url("../img/register/arrow.png") 0 0 no-repeat;
}
html.no-svg .how-we-work .steps .step:before {
  background: url("../img/register/circle.png") 50% 50% no-repeat;
}
.how-we-work {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 70px;
}
.how-we-work .title {
  color: #3f3f3f;
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 40px;
}
.how-we-work .steps {
  max-width: 980px;
  font-size: 0;
  line-height: 0;
  margin: 0 auto 70px;
  counter-reset: steps-counter;
}
.how-we-work .steps .step {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-family: 'Helvetica Neue';
  counter-increment: steps-counter;
}
.how-we-work .steps .step:first-child:after {
  display: none;
}
.how-we-work .steps .step:after {
  content: ".";
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  line-height: 0;
  width: 64px;
  height: 20px;
  position: absolute;
  left: -32px;
  top: 23px;
  background: url("../img/register/arrow.svg") 0 0 no-repeat;
}
.how-we-work .steps .step:before {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100%;
  margin: 0 auto 10px;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  color: #fff;
  background-color: #478e9e;
  font-size: 36px;
  content: counter(steps-counter);
}
.how-we-work .steps .step .sub-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #0c0a09;
  font-weight: 400;
  margin: 0 6px 15px;
}
.how-we-work .steps .step p {
  color: #3f3f3f;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  margin: 0 6px;
}
.how-we-work p.couple-of-minutes {
  color: rgba(63,63,63,0.6);
  font-size: 16px;
  line-height: 26px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 12px 0 65px;
}
.how-we-work .register {
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  padding: 19px 20px 15px;
  text-decoration: none;
  background-color: #ff8c43;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
}
.how-we-work .register:hover {
  background-color: #ffa84a;
}
.how-we-work .register:after {
  content: '>';
}
@media (max-width: 760px) {
  .how-we-work .steps .step {
    width: 50%;
    margin-bottom: 32px;
  }
  .how-we-work .steps .step:after {
    display: none;
  }
}
@media (max-width: 640px) {
  .how-we-work {
    text-align: left;
  }
  .how-we-work .register {
    width: 230px;
    margin: auto;
    display: block;
    padding: 19px 0 15px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    text-align: center;
  }
  .how-we-work .couple-of-minutes {
    text-align: center;
  }
  .how-we-work .steps .step {
    display: block;
    width: auto;
    min-height: 80px;
    padding: 0 0 0 86px;
  }
  .how-we-work .steps .step:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 540px) {
  .how-we-work .steps .step {
    min-height: 40px;
    padding: 0 0 0 36px;
  }
  .how-we-work .steps .step:before {
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: -3px;
    width: 30px;
    height: 30px;
  }
}

html {
  height: 100%;
  width: 100%;
}
html.no-svg body header .logotype {
  background-image: url("../img/register/logotype.png");
}
html body {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}
html body .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
html body main.page {
  display: block;
  padding: 0 0 100px;
}
html body footer {
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  overflow: hidden;
  line-height: 100px;
  background-color: #2b2f33;
}
html body footer .logotype {
  white-space: normal;
  display: inline-block;
  width: 24%;
  height: 100px;
  background: url("../img/register/footer-logo.png") 30px 12px no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
}
html body footer .column {
  font: 12px/20px Tahoma, Geneva, sans-serif;
  white-space: normal;
  max-width: 36%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 14px;
  color: #85898c;
}
html body footer .column .tel {
  float: left;
  clear: left;
}
html body footer .column a {
  color: #85898c;
  text-decoration: none;
}
html body header {
  height: 100px;
}
html body header .wrapper {
  position: relative;
}
html body header .logotype {
  position: absolute;
  top: 24px;
  left: 30px;
  width: 275px;
  height: 107px;
  background: url("../img/register/logotype.svg") 0 0 no-repeat;
  z-index: 10;
  text-indent: -999px;
  overflow: hidden;
}
html body header .work-time {
  position: absolute;
  right: 30px;
  top: 58px;
  color: #777;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Tahoma';
}
html body header .tel {
  position: absolute;
  right: 30px;
  top: 30px;
  text-decoration: none;
  font-size: 23px;
  line-height: 23px;
  font-family: 'Tahoma';
  color: #303030;
}
html body header .tel b {
  font-weight: bold;
}
@media (max-width: 800px) {
  html body .wrapper {
    padding: 0 32px;
  }
}
@media (max-width: 1000px) {
  html body main.page {
    padding: 0;
  }
  html body footer {
    position: static;
  }
  html body footer .logotype {
    display: none;
  }
  html body footer .column {
    max-width: 48%;
    margin: 0 2% 0 0;
  }
}
@media (max-width: 560px) {
  html body header {
    margin-bottom: 32px;
    text-align: center;
  }
  html body header .logotype {
    right: 0;
    margin: auto;
  }
  html body header .work-time,
  html body header .tel {
    display: none;
  }
}
@media (max-width: 680px) {
  html body footer {
    height: auto;
    padding: 32px 0;
  }
  html body footer .column {
    max-width: none;
    display: block;
  }
}

html.no-svg body .registration-step-0 .logotype {
  background-image: url("../img/register/logotype-register.png");
}
html.no-svg body .registration-step-0-close {
  background-image: url("../img/register/close.png");
}
html.no-svg body .registration-step-0 .sms nav .resend-password {
  background-image: background url("../img/register/refresh.png");
}
.registration-step-0 {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000 url("../img/register/header-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  vertical-align: middle;
  display: none;
}
.registration-step-0 .logotype {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 235px;
  height: 91px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background: url("../img/register/logotype-register.svg") 0 0 no-repeat;
}
.registration-step-0-close {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 40px;
  right: 40px;
  background: url("../img/register/close.svg") 100% 0 no-repeat;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
  transition: opacity 0.35s;
}
.registration-step-0-close:hover {
  opacity: 0.7;
}
.registration-step-0 .sms {
  display: none;
  box-shadow: 0 2px 44px 0 rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 293px;
  width: 420px;
  background: #fff;
  z-index: 1005;
  border-radius: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
}
.registration-step-0 .sms .line {
  position: relative;
  padding: 4px 20px;
  line-height: 48px;
  height: 48px;
}
.registration-step-0 .sms .line input {
  float: left;
  display: block;
  height: 22px;
  width: 148px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 22px;
  outline: none;
}
.registration-step-0 .sms .line input.ui-state-error,
.registration-step-0 .sms .line input.ui-state-error:focus {
  border-color: #f56d6c;
  box-shadow: 0 0 4px 1px rgba(245,109,108,0.3);
}
.registration-step-0 .sms .line input:focus {
  border-color: #bfd6db;
}
.registration-step-0 .sms .line button {
  margin: auto;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  border-style: none;
  height: 48px;
  width: 180px;
  float: right;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c43;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
  outline: none;
}
.registration-step-0 .sms .line button:focus,
.registration-step-0 .sms .line button:hover {
  background-color: #ffa84a;
}
.registration-step-0 .sms .line button:after {
  content: '>';
}
.registration-step-0 .sms .line .error {
  display: none;
  margin-right: 10px;
  width: 230px;
  padding: 10px 9px 10px 15px;
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  position: absolute;
  right: 100%;
  top: 0;
  color: #fff;
  background-color: #ff7070;
  background-color: rgba(255,112,112,0.95);
}
.registration-step-0 .sms .line .error:after {
  left: 100%;
  top: 50%;
  position: absolute;
  content: '.';
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
  margin: -6px 0 0;
  border-width: 6px 0 6px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ff7070;
  border-color: transparent transparent transparent rgba(255,112,112,0.95);
}
.registration-step-0 .sms p {
  margin: 16px 20px 20px;
  font-size: 16px;
  line-height: 22px;
  color: #3f3f3f;
  font-family: 'Helvetica Neue';
}
.registration-step-0 .sms nav {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  border-top: 1px solid rgba(216,216,216,0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.registration-step-0 .sms nav .resend-password {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  color: #478e9e;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  font-size: 18px;
  line-height: 60px;
  padding: 0 0 0 25px;
  background: url("../img/register/refresh.svg") 0 50% no-repeat;
}
.registration-step-0 .sms .title {
  background: #478e9e;
  color: #fff;
  border-radius: 4px 4px 0 0;
  display: block;
  height: 60px;
  white-space: nowrap;
  line-height: 60px;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  text-overflow: ellipsis;
  padding: 0 15px;
  text-transform: uppercase;
}
.registration-step-0 .sms .title:before {
  content: '<';
  margin-right: 10px;
}
.registration-step-0 .regions-list {
  display: none;
  box-shadow: 0 2px 44px 0 rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 530px;
  max-height: 80vh;
  width: 800px;
  max-width: 80%;
  background: #fff;
  z-index: 1005;
  border-radius: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  padding: 0 30px 10px;
}
.registration-step-0 .regions-list .title {
  line-height: 70px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Tahoma';
  color: #3f3f3f;
}
.registration-step-0 .regions-list input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #586669;
  background: #fff url("../img/register/search.svg") 12px 50% no-repeat;
  box-shadow: none;
  height: 40px;
  border-radius: 20px;
  padding: 11px 15px 11px 36px;
  font-size: 16px;
  line-height: 18px;
  outline: none;
}
.registration-step-0 .regions-list .regions {
  position: absolute;
  top: 128px;
  left: 30px;
  right: 0;
  bottom: 10px;
  overflow: auto;
  font-size: 0;
}
.registration-step-0 .regions-list .regions .column {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
}
.registration-step-0 .regions-list .regions .column a {
  position: relative;
  margin: 0 30px 0 0;
  padding: 10px;
  height: 38px;
  border-top: 1px solid #d1d1d1;
  display: block;
  border-top: 1px solid rgba(209,209,209,0.5);
  font-family: 'Tahoma';
  text-decoration: none;
  color: #3f3f3f;
  line-height: 19px;
}
.registration-step-0 .regions-list .regions .column a:hover {
  background: #599fad;
  border-top-style: none;
  border-radius: 2px;
  color: #fff;
  padding: 11px 10px;
  margin-bottom: -1px;
  z-index: 2;
}
.registration-step-0 .regions-list .regions .column a:hover p {
  color: #fff;
}
.registration-step-0 .regions-list .regions .column a .sub-title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.registration-step-0 .regions-list .regions .column a p {
  font-size: 13px;
  color: rgba(63,63,63,0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.registration-step-0 .regions-list .regions-list-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-indent: -9999px;
  background: url("../img/register/close-small.svg") 50% 50% no-repeat;
  transition: opacity 0.35s;
}
.registration-step-0 .regions-list .regions-list-close:hover {
  opacity: 0.7;
}
.registration-step-0 .registration {
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.registration-step-0 .registration .title {
  color: #fff;
  font-size: 34px;
  line-height: 36px;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  margin: 0 auto 24px;
}
.registration-step-0 .registration fieldset {
  background: #fff;
  border-radius: 3px;
  width: 360px;
  margin: 0 auto;
}
.registration-step-0 .registration fieldset .line {
  height: 54px;
  position: relative;
  border-top: 1px solid #dbdbdb;
}
.registration-step-0 .registration fieldset .line:first-child {
  border-top-style: none;
}
.registration-step-0 .registration fieldset .line .error {
  display: none;
  margin-left: 10px;
  width: 230px;
  padding: 10px 9px 10px 15px;
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  position: absolute;
  left: 100%;
  top: 0;
  color: #fff;
  background-color: #ff7070;
  background-color: rgba(255,112,112,0.95);
}
.registration-step-0 .registration fieldset .line .error:after {
  right: 100%;
  top: 50%;
  position: absolute;
  content: '.';
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
  margin: -6px 0 0;
  border-width: 6px 5px 6px 0;
  border-style: solid;
  border-color: transparent #ff7070 transparent transparent;
  border-color: transparent rgba(255,112,112,0.95) transparent transparent;
}
.registration-step-0 .registration fieldset .line input {
  display: block;
  margin: 0;
  padding: 25px 15px 9px;
  width: 330px;
  height: 22px;
  line-height: 22px;
  font-size: 18px;
  color: #3f3f3f;
  outline: none;
  border-style: none;
  box-shadow: none;
  overflow: visible;
  background: none;
}
.registration-step-0 .registration fieldset .line input.ui-state-error+label {
  color: #d0021b;
}
.registration-step-0 .registration fieldset .line input.ui-state-error::-webkit-input-placeholder {
  color: #d0021b;
}
.registration-step-0 .registration fieldset .line input.ui-state-error:-moz-placeholder {
  color: #d0021b;
}
.registration-step-0 .registration fieldset .line input.ui-state-error::-moz-placeholder {
  color: #d0021b;
}
.registration-step-0 .registration fieldset .line input.ui-state-error:-ms-input-placeholder {
  color: #d0021b;
}
.registration-step-0 .registration fieldset .line input::-webkit-input-placeholder {
  position: relative;
  top: -7px;
  color: rgba(63,63,63,0.4);
}
.registration-step-0 .registration fieldset .line input:-moz-placeholder {
  position: relative;
  top: -7px;
  color: rgba(63,63,63,0.4);
}
.registration-step-0 .registration fieldset .line input::-moz-placeholder {
  position: relative;
  top: -7px;
  color: rgba(63,63,63,0.4);
}
.registration-step-0 .registration fieldset .line input:-ms-input-placeholder {
  position: relative;
  top: -7px;
  color: rgba(63,63,63,0.4);
}
.registration-step-0 .registration fieldset .line .change-region {
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
  height: 44px;
  width: 100px;
  text-align: center;
  color: #3f3f3f;
  color: rgba(63,63,63,0.6);
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background: #e5e5e5;
  transition: background-color 0.35s, color 0.35s;
}
.registration-step-0 .registration fieldset .line .change-region:hover {
  background: #828282;
  color: #fff;
}
.registration-step-0 .registration fieldset .line label {
  position: absolute;
  left: 15px;
  top: 10px;
  text-transform: uppercase;
  color: rgba(63,63,63,0.3);
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  opacity: 0;
}
.registration-step-0 .registration fieldset .line input.changed+label {
  opacity: 1;
}
.registration-step-0 .registration nav {
  text-align: center;
  margin: 20px auto 16px;
}
.registration-step-0 .registration nav button {
  margin: auto;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  border-style: none;
  width: 360px;
  height: 54px;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c43;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
  outline: none;
}
.registration-step-0 .registration nav button:focus,
.registration-step-0 .registration nav button:hover {
  background-color: #ffa84a;
}
.registration-step-0 .registration nav button:after {
  content: '>';
}
.registration-step-0 .registration .copyright {
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: normal;
  text-align: center;
  width: 360px;
  font-size: 12px;
  line-height: 17px;
  color: rgba(255,255,255,0.6);
}
.registration-step-0 .registration .copyright a {
  color: #fff;
}

body.registration-page {
  background-color: #efefef;
}
.registration-step-1 {
  position: relative;
  padding: 0 30px 30px;
}
.registration-step-1 .title {
  text-align: center;
  margin-top: -59px;
  font-size: 34px;
  line-height: 36px;
  font-weight: bold;
  font-family: 'Elektra Text Pro';
  color: #3f3f3f;
}
.registration-step-1 .steps {
  max-width: 924px;
  display: block;
  font-size: 0;
  line-height: 0;
  position: relative;
  margin: 75px auto;
  border-top: 3px dashed rgba(63,63,63,0.3);
}
.registration-step-1 .steps:before {
  content: '.';
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  line-height: 0;
  display: block;
  top: -5px;
  bottom: 0;
  right: -16px;
  position: absolute;
  background-color: #efefef;
  z-index: 1;
  width: 12.5%;
}
.registration-step-1 .steps:after {
  content: '.';
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  line-height: 0;
  display: block;
  top: -5px;
  bottom: 0;
  left: -16px;
  position: absolute;
  background-color: #efefef;
  z-index: 1;
  width: 12.5%;
}
.registration-step-1 .steps .step {
  text-align: center;
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 25%;
  height: 0;
}
.registration-step-1 .steps .step .sub-title {
  position: absolute;
  bottom: 25px;
  left: 50%;
}
.registration-step-1 .steps .step .sub-title span {
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  left: -50%;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  font-family: 'Elektra Text Pro';
  color: rgba(63,63,63,0.3);
}
.registration-step-1 .steps .step.selected {
  border-top: #478e9e 3px solid;
  margin-top: -3px;
}
.registration-step-1 .steps .step.selected .sub-title span {
  color: #478e9e;
}
.registration-step-1 .steps .step.selected:before {
  border: #478e9e 3px solid;
}
.registration-step-1 .steps .step.selected:after {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 100%;
  content: '.';
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  line-height: 0;
  background-color: #478e9e;
}
.registration-step-1 .steps .step:before {
  z-index: 2;
  position: relative;
  content: '.';
  overflow: hidden;
  text-indent: -999px;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 3px dashed rgba(63,63,63,0.3);
  border-radius: 100%;
  margin-top: -16px;
  background-color: #efefef;
}
.registration-step-1 .panel {
  background: #fff;
  max-width: 880px;
  margin: auto;
  border: 3px solid rgba(151,151,151,0.3);
  text-align: center;
}
.registration-step-1 .panel.complete {
  padding: 100px 30px 110px;
}
.registration-step-1 .panel.complete p {
  max-width: 530px;
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  font-size: 20px;
  line-height: 26px;
  color: rgba(63,63,63,0.7);
}
.registration-step-1 .panel.complete .sub-title {
  max-width: 530px;
  font-size: 28px;
  line-height: 32px;
  color: #3f3f3f;
  font-weight: bold;
  font-family: 'Elektra Text Pro';
  padding: 120px 0 0;
  margin: 0 auto 20px;
  background: url("../img/register/complete.svg") 50% 0 no-repeat;
}
@media (max-width: 1060px) {
  .registration-step-1 .title {
    margin-top: 0;
  }
}

html.no-svg .start-now .wrapper:after {
  background: url("../img/register/couple-of-minutes.png") 0 0 no-repeat;
}
.start-now {
  height: 505px;
  position: relative;
  background: #2d3a43 url("../img/register/header-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 95px 0 0;
  text-align: center;
  color: #fff;
}
.start-now .wrapper:after {
  content: '.';
  overflow: hidden;
  text-indent: -999px;
  display: block;
  position: absolute;
  width: 175px;
  height: 90px;
  left: 50%;
  bottom: 18px;
  margin-left: -10px;
  background: url("../img/register/couple-of-minutes.svg") 0 0 no-repeat;
}
.start-now .title {
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 32px;
}
.start-now p {
  font-size: 27px;
  line-height: 35px;
  margin-bottom: 88px;
}
.start-now .register {
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
  margin: auto;
  width: 327px;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  padding: 19px 0 15px;
  text-decoration: none;
  background-color: #ff8c43;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
}
.start-now .register:hover {
  background-color: #ffa84a;
}
.start-now .register:after {
  content: '>';
}
@media (max-width: 850px) {
  .start-now {
    padding: 35px 0 0;
    height: 565px;
  }
  .start-now .wrapper {
    display: block;
  }
  .start-now .wrapper:after {
    bottom: 10px;
  }
  .start-now .register {
    bottom: 112px;
  }
}
@media (max-width: 640px) {
  .start-now .register {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    width: 230px;
    margin: auto;
    display: block;
    padding: 19px 0 15px;
  }
  .start-now .couple-of-minutes {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .start-now {
    background: none;
    color: #333;
    text-align: left;
    height: auto;
  }
  .start-now .title {
    font-size: 42px;
    line-height: 48px;
  }
  .start-now p {
    margin: 32px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .start-now .register {
    position: static;
  }
  .start-now:after {
    text-align: center;
    display: block;
    content: 'Всего несколько минут вашего времени';
    color: rgba(63,63,63,0.6);
    font-size: 16px;
    line-height: 26px;
    font-family: 'Helvetica Neue';
    font-weight: 200;
    margin: 4px 0 70px;
  }
  .start-now .wrapper:after {
    display: none;
  }
}
@media (max-width: 460px) {
  .start-now .title {
    font-size: 32px;
    line-height: 36px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
}

html.no-svg .who-we-are .steps .step.step-1:before {
  background-image: url("../img/register/ico-couple-of-minutes.png");
}
html.no-svg .who-we-are .steps .step.step-2:before {
  background-image: url("../img/register/ico-get-clients.png");
}
html.no-svg .who-we-are .steps .step.step-3:before {
  background-image: url("../img/register/ico-pay.png");
}
html.no-svg .who-we-are .steps .step.step-4:before {
  background-image: url("../img/register/ico-ok.png");
}
.who-we-are {
  position: relative;
  text-align: center;
}
.who-we-are .title {
  color: #3f3f3f;
  font-size: 28px;
  line-height: 36px;
  margin: 56px 0 64px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}
.who-we-are .title b {
  font-weight: bold;
}
.who-we-are .sub-title {
  color: #3f3f3f;
  font-size: 39px;
  line-height: 42px;
  margin-bottom: 40px;
}
.who-we-are .steps {
  font-size: 0;
  line-height: 0;
  margin: 0 auto -4px;
  padding: 0 3.90625%;
  max-width: 980px;
}
.who-we-are .steps .step {
  display: inline-block;
  vertical-align: top;
  width: 44.897%;
  margin: 0 0 65px 0;
  font-size: 20px;
  line-height: 26px;
  color: rgba(63,63,63,0.7);
  font-weight: 200;
}
.who-we-are .steps .step:nth-child(2n) {
  margin: 0 0 65px 10.204%;
}
.who-we-are .steps .step:before {
  content: ".";
  display: block;
  height: 130px;
  overflow: hidden;
  text-indent: -999px;
  margin-bottom: 15px;
  background-size: 130px 130px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.who-we-are .steps .step.step-1:before {
  background-image: url("../img/register/ico-couple-of-minutes-2x.png");
}
.who-we-are .steps .step.step-2:before {
  background-image: url("../img/register/ico-get-clients-2x.png");
}
.who-we-are .steps .step.step-3:before {
  background-image: url("../img/register/ico-pay-2x.png");
}
.who-we-are .steps .step.step-4:before {
  background-image: url("../img/register/ico-ok-2x.png");
}
.who-we-are p.couple-of-minutes {
  color: rgba(63,63,63,0.6);
  font-size: 16px;
  line-height: 26px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 4px 0 70px;
}
.who-we-are .register {
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  height: 24px;
  font-size: 22px;
  margin: 0 0 5px;
  line-height: 24px;
  text-align: center;
  padding: 19px 20px 15px;
  text-decoration: none;
  background-color: #ff8c43;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
}
.who-we-are .register:hover {
  background-color: #ffa84a;
}
.who-we-are .register:after {
  content: '>';
}
@media (max-width: 850px) {
  .who-we-are .steps .step {
    width: 40.1875%;
    margin: 0 0 60px 2%;
  }
}
@media (max-width: 640px) {
  .who-we-are {
    text-align: left;
  }
  .who-we-are .register {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    width: 230px;
    margin: auto;
    display: block;
    padding: 19px 0 15px;
  }
  .who-we-are .couple-of-minutes {
    text-align: center;
  }
  .who-we-are .steps {
    padding: 0;
  }
  .who-we-are .steps .step {
    position: relative;
    display: block;
    width: auto;
    padding: 0 0 0 150px;
    margin: 0 0 32px;
    text-align: left;
    min-height: 130px;
  }
  .who-we-are .steps .step:nth-child(2n) {
    margin: 0 0 32px;
  }
  .who-we-are .steps .step:before {
    position: absolute;
    left: 0;
    top: -10px;
    width: 130px;
  }
}
@media (max-width: 440px) {
  .who-we-are .steps .step {
    padding: 0;
    min-height: 0;
  }
  .who-we-are .steps .step:before {
    display: none;
  }
}
