html.no-svg .how-we-work .steps .step:after {
  background: url("../img/register/arrow.png") 0 0 no-repeat;
}
html.no-svg .how-we-work .steps .step:before {
  background: url("../img/register/circle.png") 50% 50% no-repeat;
}
.how-we-work {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 70px;
}
.how-we-work .title {
  color: #3f3f3f;
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 40px;
}
.how-we-work .steps {
  max-width: 980px;
  font-size: 0;
  line-height: 0;
  margin: 0 auto 70px;
  counter-reset: steps-counter;
}
.how-we-work .steps .step {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-family: 'Helvetica Neue';
  counter-increment: steps-counter;
}
.how-we-work .steps .step:first-child:after {
  display: none;
}
.how-we-work .steps .step:after {
  content: ".";
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  line-height: 0;
  width: 64px;
  height: 20px;
  position: absolute;
  left: -32px;
  top: 23px;
  background: url("../img/register/arrow.svg") 0 0 no-repeat;
}
.how-we-work .steps .step:before {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100%;
  margin: 0 auto 10px;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  color: #fff;
  background-color: #478e9e;
  font-size: 36px;
  content: counter(steps-counter);
}
.how-we-work .steps .step .sub-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #0c0a09;
  font-weight: 400;
  margin: 0 6px 15px;
}
.how-we-work .steps .step p {
  color: #3f3f3f;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  margin: 0 6px;
}
.how-we-work p.couple-of-minutes {
  color: rgba(63,63,63,0.6);
  font-size: 16px;
  line-height: 26px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 12px 0 65px;
}
.how-we-work .register {
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  padding: 19px 20px 15px;
  text-decoration: none;
  background-color: #ff8c43;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
}
.how-we-work .register:hover {
  background-color: #ffa84a;
}
.how-we-work .register:after {
  content: '>';
}
@media (max-width: 760px) {
  .how-we-work .steps .step {
    width: 50%;
    margin-bottom: 32px;
  }
  .how-we-work .steps .step:after {
    display: none;
  }
}
@media (max-width: 640px) {
  .how-we-work {
    text-align: left;
  }
  .how-we-work .register {
    width: 230px;
    margin: auto;
    display: block;
    padding: 19px 0 15px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    text-align: center;
  }
  .how-we-work .couple-of-minutes {
    text-align: center;
  }
  .how-we-work .steps .step {
    display: block;
    width: auto;
    min-height: 80px;
    padding: 0 0 0 86px;
  }
  .how-we-work .steps .step:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 540px) {
  .how-we-work .steps .step {
    min-height: 40px;
    padding: 0 0 0 36px;
  }
  .how-we-work .steps .step:before {
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: -3px;
    width: 30px;
    height: 30px;
  }
}

html {
  height: 100%;
  width: 100%;
}
html.no-svg body header .logotype {
  background-image: url("../img/register/logotype.png");
}
html body {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}
html body .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
html body main.page {
  display: block;
  padding: 0 0 100px;
}
html body footer {
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  overflow: hidden;
  line-height: 100px;
  background-color: #2b2f33;
}
html body footer .logotype {
  white-space: normal;
  display: inline-block;
  width: 24%;
  height: 100px;
  background: url("../img/register/footer-logo.png") 30px 12px no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
}
html body footer .column {
  font: 12px/20px Tahoma, Geneva, sans-serif;
  white-space: normal;
  max-width: 36%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 14px;
  color: #85898c;
}
html body footer .column .tel {
  float: left;
  clear: left;
}
html body footer .column a {
  color: #85898c;
  text-decoration: none;
}
html body header {
  height: 100px;
}
html body header .wrapper {
  position: relative;
}
html body header .logotype {
  position: absolute;
  top: 24px;
  left: 30px;
  width: 275px;
  height: 107px;
  background: url("../img/register/logotype.svg") 0 0 no-repeat;
  z-index: 10;
  text-indent: -999px;
  overflow: hidden;
}
html body header .work-time {
  position: absolute;
  right: 30px;
  top: 58px;
  color: #777;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Tahoma';
}
html body header .tel {
  position: absolute;
  right: 30px;
  top: 30px;
  text-decoration: none;
  font-size: 23px;
  line-height: 23px;
  font-family: 'Tahoma';
  color: #303030;
}
html body header .tel b {
  font-weight: bold;
}
@media (max-width: 800px) {
  html body .wrapper {
    padding: 0 32px;
  }
}
@media (max-width: 1000px) {
  html body main.page {
    padding: 0;
  }
  html body footer {
    position: static;
  }
  html body footer .logotype {
    display: none;
  }
  html body footer .column {
    max-width: 48%;
    margin: 0 2% 0 0;
  }
}
@media (max-width: 560px) {
  html body header {
    margin-bottom: 32px;
    text-align: center;
  }
  html body header .logotype {
    right: 0;
    margin: auto;
  }
  html body header .work-time,
  html body header .tel {
    display: none;
  }
}
@media (max-width: 680px) {
  html body footer {
    height: auto;
    padding: 32px 0;
  }
  html body footer .column {
    max-width: none;
    display: block;
  }
}

html.no-svg .start-now .wrapper:after {
  background: url("../img/register/couple-of-minutes.png") 0 0 no-repeat;
}
.start-now {
  height: 505px;
  position: relative;
  background: #2d3a43 url("../img/register/header-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 95px 0 0;
  text-align: center;
  color: #fff;
}
.start-now .wrapper:after {
  content: '.';
  overflow: hidden;
  text-indent: -999px;
  display: block;
  position: absolute;
  width: 175px;
  height: 90px;
  left: 50%;
  bottom: 18px;
  margin-left: -10px;
  background: url("../img/register/couple-of-minutes.svg") 0 0 no-repeat;
}
.start-now .title {
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 32px;
}
.start-now p {
  font-size: 27px;
  line-height: 35px;
  margin-bottom: 88px;
}
.start-now .register {
  position: absolute;
  bottom: 130px;
  left: 0;
  right: 0;
  margin: auto;
  width: 327px;
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  padding: 19px 0 15px;
  text-decoration: none;
  background-color: #ff8c43;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
}
.start-now .register:hover {
  background-color: #ffa84a;
}
.start-now .register:after {
  content: '>';
}
@media (max-width: 850px) {
  .start-now {
    padding: 35px 0 0;
    height: 565px;
  }
  .start-now .wrapper {
    display: block;
  }
  .start-now .wrapper:after {
    bottom: 10px;
  }
  .start-now .register {
    bottom: 112px;
  }
}
@media (max-width: 640px) {
  .start-now .register {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    width: 230px;
    margin: auto;
    display: block;
    padding: 19px 0 15px;
  }
  .start-now .couple-of-minutes {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .start-now {
    background: none;
    color: #333;
    text-align: left;
    height: auto;
  }
  .start-now .title {
    font-size: 42px;
    line-height: 48px;
  }
  .start-now p {
    margin: 32px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .start-now .register {
    position: static;
  }
  .start-now:after {
    text-align: center;
    display: block;
    content: 'Всего несколько минут вашего времени';
    color: rgba(63,63,63,0.6);
    font-size: 16px;
    line-height: 26px;
    font-family: 'Helvetica Neue';
    font-weight: 200;
    margin: 4px 0 70px;
  }
  .start-now .wrapper:after {
    display: none;
  }
}
@media (max-width: 460px) {
  .start-now .title {
    font-size: 32px;
    line-height: 36px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
}

html.no-svg .who-we-are .steps .step.step-1:before {
  background-image: url("../img/register/ico-couple-of-minutes.png");
}
html.no-svg .who-we-are .steps .step.step-2:before {
  background-image: url("../img/register/ico-get-clients.png");
}
html.no-svg .who-we-are .steps .step.step-3:before {
  background-image: url("../img/register/ico-pay.png");
}
html.no-svg .who-we-are .steps .step.step-4:before {
  background-image: url("../img/register/ico-ok.png");
}
.who-we-are {
  position: relative;
  text-align: center;
}
.who-we-are .title {
  color: #3f3f3f;
  font-size: 28px;
  line-height: 36px;
  margin: 56px 0 64px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}
.who-we-are .title b {
  font-weight: bold;
}
.who-we-are .sub-title {
  color: #3f3f3f;
  font-size: 39px;
  line-height: 42px;
  margin-bottom: 40px;
}
.who-we-are .steps {
  font-size: 0;
  line-height: 0;
  margin: 0 auto -4px;
  padding: 0 3.90625%;
  max-width: 980px;
}
.who-we-are .steps .step {
  display: inline-block;
  vertical-align: top;
  width: 44.897%;
  margin: 0 0 65px 0;
  font-size: 20px;
  line-height: 26px;
  color: rgba(63,63,63,0.7);
  font-weight: 200;
}
.who-we-are .steps .step:nth-child(2n) {
  margin: 0 0 65px 10.204%;
}
.who-we-are .steps .step:before {
  content: ".";
  display: block;
  height: 130px;
  overflow: hidden;
  text-indent: -999px;
  margin-bottom: 15px;
  background-size: 130px 130px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.who-we-are .steps .step.step-1:before {
  background-image: url("../img/register/ico-couple-of-minutes-2x.png");
}
.who-we-are .steps .step.step-2:before {
  background-image: url("../img/register/ico-get-clients-2x.png");
}
.who-we-are .steps .step.step-3:before {
  background-image: url("../img/register/ico-pay-2x.png");
}
.who-we-are .steps .step.step-4:before {
  background-image: url("../img/register/ico-ok-2x.png");
}
.who-we-are p.couple-of-minutes {
  color: rgba(63,63,63,0.6);
  font-size: 16px;
  line-height: 26px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 4px 0 70px;
}
.who-we-are .register {
  font-family: 'Elektra Text Pro';
  font-weight: bold;
  height: 24px;
  font-size: 22px;
  margin: 0 0 5px;
  line-height: 24px;
  text-align: center;
  padding: 19px 20px 15px;
  text-decoration: none;
  background-color: #ff8c43;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.25s;
}
.who-we-are .register:hover {
  background-color: #ffa84a;
}
.who-we-are .register:after {
  content: '>';
}
@media (max-width: 850px) {
  .who-we-are .steps .step {
    width: 40.1875%;
    margin: 0 0 60px 2%;
  }
}
@media (max-width: 640px) {
  .who-we-are {
    text-align: left;
  }
  .who-we-are .register {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    width: 230px;
    margin: auto;
    display: block;
    padding: 19px 0 15px;
  }
  .who-we-are .couple-of-minutes {
    text-align: center;
  }
  .who-we-are .steps {
    padding: 0;
  }
  .who-we-are .steps .step {
    position: relative;
    display: block;
    width: auto;
    padding: 0 0 0 150px;
    margin: 0 0 32px;
    text-align: left;
    min-height: 130px;
  }
  .who-we-are .steps .step:nth-child(2n) {
    margin: 0 0 32px;
  }
  .who-we-are .steps .step:before {
    position: absolute;
    left: 0;
    top: -10px;
    width: 130px;
  }
}
@media (max-width: 440px) {
  .who-we-are .steps .step {
    padding: 0;
    min-height: 0;
  }
  .who-we-are .steps .step:before {
    display: none;
  }
}
